.d-flex button{
    margin: 1.5em 0.7em;
    padding: .3em 2.4em;
}

.imgtabela {
  height: 10%;  
  width: 10%;
  
}

.container table {
    margin: 1em 10em;
}

table .btnedit{
    color: lightgreen;
    cursor: pointer;
}

table .btndelete{
    color: tomato;
    cursor: pointer;
}