.d-flex button{
    margin: 2em 1em;
    padding: .5em 2.4em;
}

.form-control {
    width: 40%;
    
}
.container table {
    margin: 1em 10em;
}

table .btnedit{
    color: lightgreen;
    cursor: pointer;
    padding-top: 10%;
    padding-left: 10%;
}

table .btndelete{
    color: rgb(240, 55, 23);
    cursor: pointer;
    padding-top: 10%;
    padding-left: 10%;
}

#areaImpressao{
    padding-left: 12%;

}